:root {
    --color-pink: rgb(255, 61, 154);
    --color-purple-light: rgb(147,122,255);
    --color-purple: rgb(87,88,241);
    --color-blue-light:rgb(63,150,252);
    --color-green: rgb(4, 194, 127);
    --color-green-light: rgb(65, 204, 79);
    --color-yellow-dark: rgb(241,208,110);
    --color-yellow: rgb(248,219,70);
    --color-yellow-light: rgb(254,247,193);
    --color-white: rgb(255,255,255);
    --color-gray-dark: rgb(55, 56, 63);
    --color-black: rgb(30, 31, 39);
}


body {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

h1{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.28px;
    margin: 0;
}

p{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin: 0;
}

h2{
    text-align: center;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.12px;
    margin: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;
    height: 64px;
    align-items: center;
    border-radius: 30px;
    border: none;
    font-family: Poppins;
    font-size: 20px;
    cursor: pointer;
}

.navigation-bar {
    display: flex;
    height: 120px;
    padding: 0px 116px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-direction: column;  
}


.all-options{
    display: flex;
    width: 1208px;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

.left-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.nav-items {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.nav-items li{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

hr {
    border: none;
    border-top: 2px solid #000;
    width: 1208px;
    margin: 20px 0;
}

.right-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.right-options p{
    font-family: Inter;
    font-size: 20px;
}

.donate {
    background-color: var(--color-pink);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.diviser{
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-screen {
    padding: 80px 0px 120px 0px;
    justify-content: center;
    display: flex;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1208px;
}

.main {
    gap: 40px;
}


#info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 0px 40px;
}

@media (max-width: 430px) {
    #info-block{
        align-items: center;
        gap: 48px;
        align-self: stretch;
    }
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    flex-shrink: 0;
}


.text-block h1 {
    color: var(--color-black);
    word-wrap: break-word;
}

.text-block p {
    color: var(--color-black);
}

#cta-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

#cta-block h3 {
    color: var(--color-black);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.64px;
    margin: 0;
}


#animals{
    display: flex;
    width: 540px;
    height: 616px;
    flex-shrink: 0;
    align-content: stretch;
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.animals-mobile{
    display: none;
}

.dog-image{
    position: absolute;
    width: 268px;
    height: 268px;
    flex-shrink: 0;
}

.house-drawing{
    top: -55%;
    width: 160px;
    height: 248px;
    position: relative;
    flex-shrink: 0;
}

.cat-image{
    width: 377px;
    height: 616px;
    flex-shrink: 0;
}

.btn.apply-to-adopt {
    border: 2px solid var(--color-black);
    background-color: var(--color-white);
}

#stats-block {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-black);
}


.stats {
    gap: 80px;
    flex-direction: column;
}

#text-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

#text-information h2 {
    color: var(--color-white);
}

.stats-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.stats-pair {
    text-align: center;
}

.stats-pair dt {
    color: var(--color-yellow);
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 16px;
}

.stats-pair dd {
    color: var(--color-white);
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin: 0;
}

#carousel {
    display: flex;
    width: 80%;
    overflow: hidden;
    align-items: center;
    gap: 40px;
}

.carousel-animals {
    display: flex;
    align-items: center;
    gap: 24px;
}

.carousel-slide {
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.first-animal,.second-animal,.third-animal,.fourth-animal,.fifth-animal,.sixth-animal,.seventh-animal,.eighth-animal{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.first-animal {
    border-radius: 32px;
    background-color: var(--color-yellow);
}

.second-animal {
    border-radius: 32px 250px 250px 250px;
    background-color: var(--color-green-light);
}

.third-animal {
    border-radius: 32px;
    background-color: var(--color-white);
}

.fourth-animal {
    border-radius: 250px 32px 250px 250px;
    background-color: var(--color-purple-light);
}

.fifth-animal {
    border-radius: 32px 250px 250px 250px;
    background-color: var(--color-green);
}

.sixth-animal{
    border-radius: 32px 250px 250px 250px;
    background-color: var(--color-green);
}

.seventh-animal{
    border-radius: 32px;
    background-color: var(--color-yellow);
}

.eighth-animal{
    border-radius: 250px 32px 250px 250px;
    background-color: var(--color-purple);
}
.arrow{
    display: flex;
    background-color: var(--color-white); 
    border-radius: 50%;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.carousel-controls {
    text-align: center;
    margin-top: 10px;
}

input[type="radio"] {
    display: none;
}

.carousel-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-gray-dark);
    margin: 0 5px;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    background-color: var(--color-white);
}

#donation-block {
    display: flex;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-black);
}

.donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.donation h2 {
    color: var(--color-white);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
}
.responsive{
    display: none;
}

.cards h2{
    color: var(--white, #FFF);
    font-size: 32px;
    letter-spacing: -0.64px;
}

.cards p{
    color: var(--color-white);
    font-size: 20px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    gap: 40px;
    padding: 0px 40px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid var(--color-white);
    padding: 36px;
    flex: 1;
    max-width: 33.33%;
    max-height: 300px;
    gap: 40px;
}

.donation-text{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    gap: 16px;
    align-self: stretch;
    flex-shrink: 1;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row-reverse;
}

#adopt-info-block{
    padding: 80px 0px 120px 0px;
    display: flex;
    justify-content: center;
}

.adopt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#adopt-content-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
} 

#adopt-image img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 480px;
}

.adopt-text{
    display: flex;
    gap: 32px;
}

.adopt-text h1{
    font-size: 32px;
    font-style: normal;
    letter-spacing: -0.64px;
    color: var(--color-black);
    padding-inline-start: 5px;
    padding: 5px;
}

.adopt-text li{
    padding: 5px;
}

.btn.apply-to-adopt-info-block{
    background: var(--color-black);
    color: var(--color-white);
}


#difference-block{
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-black);
}

.difference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: auto;
}

.text{
    display: flex;
    align-items: baseline;
    gap: 80px;
    color: var(--color-white);
    font-size: 56px;
}

.text h2{
    max-width: 550px;
}

.difference-cards{
    padding: 0px 20px;
    flex-wrap: nowrap;
    align-items: normal;
}

.card-difference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid var(--color-white);
    padding: 48px 24px;
    flex: 1;
    max-width: 33.33%;
    max-height: 224px;
    gap: 48px;
}

.difference-cards-text h2{
    text-align: center;
    align-self: stretch;
    color: var(--color-white);
    font-size: 24px;   
    letter-spacing: -0.48px;    
}

.difference-cards-text p{
    text-align: center;
    align-self: stretch;
    font-size: 20px;
    color: var(--color-white);
}

.card-difference button{
    display: flex;
    height: 64px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    font-family: Poppins;
    font-size: 20px;
    border: none;
}

.adopt-or-foster button{
    background-color: var(--color-green);
}

.volunteer button{
    background-color: var(--color-yellow);
}

.donate-monthly button{
    background-color: var(--color-pink);
}

.start-a-fundraiser button{
    background-color: var(--color-purple);
}

#adopt-block{
    display: flex;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-black);
}

.adopt-block-text{
    display: flex;
    max-width: 1208px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: relative;
}

.adopt-block-text h2{
    color: var(--color-white);
}

.adopt-block-text span{
    color: var(--color-yellow);
}


#cta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#cta-text h3{
    font-family: Poppins;
    font-size: 32px;
    letter-spacing: -0.64px;
    color: var(--color-white);
    margin: 0;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.image-animal-adopt{
    display: flex;
    position: relative;
    justify-content: center;
}

.cat-adopt{
    margin-left: -1000px;
    position: absolute;
}

.dog-adopt{
    position: absolute;
    margin-right: -1000px;;
}

.view-adoptables{
    background-color: var(--color-yellow);
}

.apply-to-adopt-block{
    background-color: var(--color-black);
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

#subscribe-block{
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    background-color: var(--color-purple);
}

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.subscribe-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.subscribe-text h2{
    color: var(--color-white);
}

.subscribe-text p{
    max-width: 750px;
    font-size: 20px;
    color: var(--color-white);
    text-align: center;
}

.subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#email{ 
    display: flex;
    padding: 16px 136px 16px 24px;
    gap: 8px;
    border-radius: 32px;
    border: 2px solid var(--color-white);
    background-color: var(--color-purple);
    font-size: 20px;
    color: var(--color-white);
}

#submit{
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: none;
    background-color: var(--color-white);
    font-family: Poppins;
    font-size: 20px;
}

.footer{
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.links-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.links-row{
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
}

.logo-footer{
    display: flex;
    width: 272px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    flex-shrink: 0;
}

.logo-image{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.logo-footer h2{
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    align-self: stretch;
    text-align: left;
}

.logo-footer h3{
    font-size: 20px;
    font-family: 'Poppins';
    margin: 0;
}

.frame-footer{
    display: flex;
    gap: 100px;
    padding: 0px 100px;
}

.links-row a{
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;  
    color: var(--color-black);
}

.contats-footer{
    display: flex;
    width: 272px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

.info-contats{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.info-contats p{
    font-size: 20px;
    font-weight: 700;
}

.info-contats address{
    display: flex;  
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.text-adress{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.phone-info, .mail-info{
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.social-contats{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}



.footer-text{
    font-family: Poppins;
    font-size: 32px;
    line-height: 160%; 
    letter-spacing: -0.64px;
    color: var(--color-black);
    margin: 0;
}

.footer-span{
    color: var(--color-pink);
}

/* MODAL */ 

#adopt-modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.content-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    text-align: center;
    z-index: 1001;
    max-width: 80%;
}

.text-information-adopt-modal{
    display: flex;
    width: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.text-information-adopt-modal h1{
    color: var(--black, #1E1F27);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: -0.96px;
    margin: 0;
}

.text-information-adopt-modal p{
    color: var(--black, #1E1F27);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.36px;
    margin: 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.input-modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.input-modal label{
    color: var(--pink, #FF3D9A);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

.input-modal p{
    color: var(--pink, #FF3D9A);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

.input-modal input{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--purple-light, #937AFF);
    background: var(--white, #FFF);
}

.input-modal span{
    color: var(--blue-light, #3F96FC);
    font-family: Poppins;
    font-size: 12px;
}

.select-input{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.select-input select{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--blue-light, #3F96FC);
    background: var(--white, #FFF);
}

.buttons-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.policy-and-terms{
    display: flex;
    gap: 15px;
    align-items: center;
}

.checkbox-modal{
    position: relative;
}

.checkbox-modal label {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
.checkbox-modal label:after {
    border: 2px solid black;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.checkbox-modal input[type="checkbox"] {
    visibility: hidden;
}
  
.checkbox-modal input[type="checkbox"]:checked + label {
    background-color: #04C27F;
    border-color: #04C27F;
}
  
.checkbox-modal input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.wanna-adopt,.cancel{
    display: flex;
    padding: 16px 24px;
    width: 384px;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 24px;
    color: white;
    border: none;
}



.wanna-adopt{
    background-color: #66bb6a;
}

.cancel{
    background-color:#37383F;
}

/* Donate-Modal */

#donate-modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.radios{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    justify-content: center;
}

.wanna-help{
    background-color: var(--color-pink);
    color: var(--color-white);
}

.cancel-donate{
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background-color: var(--color-gray-dark);
    color: var(--color-white);
}


input[type="radio"] {
    display: none;
}
.label-payment {
    position: relative;
    color: var(--color-blue-light);
    font-family: "Poppins";
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    border: 3px solid var(--color-blue-light);
    padding: 1em 2em;
    border-radius: 0.5em;
}
.label-payment:before {
    content: "";
    height: 1em;
    width: 1em;
    border: 3px solid var(--color-blue-light);
    border-radius: 50%;
}
input[type="radio"]:checked + .label-payment:before {
    height: 0.5em;
    width: 0.5em;
    border: 0.65em solid var(--color-white);
    background-color: var(--color-blue-light);
}
input[type="radio"]:checked + .label-payment {
    background-color: var(--color-blue-light);
    color: var(--color-white);
}

