:root {
    --color-pink: rgb(255, 61, 154);
    --color-purple-light: rgb(147,122,255);
    --color-purple: rgb(87,88,241);
    --color-blue-light:rgb(63,150,252);
    --color-green: rgb(4, 194, 127);
    --color-green-light: rgb(65, 204, 79);
    --color-yellow-dark: rgb(241,208,110);
    --color-yellow: rgb(248,219,70);
    --color-yellow-light: rgb(254,247,193);
    --color-white: rgb(255,255,255);
    --color-gray-dark: rgb(55, 56, 63);
    --color-black: rgb(30, 31, 39);
}


body {
    font-family: Inter;
    margin: 0;
}

h1{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.28px;
    margin: 0;
}

p{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin: 0;
}

h2{
    text-align: center;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.12px;
    margin: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    align-items: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.navigation-bar {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Inter;
}

.nav-items {
    display: flex;
    list-style: none;
    padding-left: 16px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.nav-items li{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.hr {
    border: none;
    border-top: 2px solid #000;
    width: 100%;
    margin: 20px 0;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 65px;
    gap: 32px;
}

.btn img {
    vertical-align: middle;
    margin-right: 5px;
}

.btn.donate {
    background-color: var(--color-pink);
    color: white;
}

.main-screen {
    padding: 80px 0px 120px 0px;
}

.main-content {
    padding: 0px 116px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    gap: 40px;
}

#info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    flex-shrink: 0;
}

.text-block h1 {
    color: var(--color-black);
    word-wrap: break-word;
}

.text-block p {
    color: var(--color-black);
}

#cta-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding-right: 28px;
    align-self: stretch;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

#cta-block h3 {
    color: var(--color-black);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.64px;
    margin: 0;
}

#animals{
    display: flex;
    width: 540px;
    height: 616px;
    flex-shrink: 0;
    align-content: stretch;
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.dog-image{
    position: absolute;
    width: 268px;
    height: 268px;
    flex-shrink: 0;
}

.house-drawing{
    top: -55%;
    width: 160px;
    height: 248px;
    position: relative;
    flex-shrink: 0;
}

.cat-image{
    width: 377px;
    height: 616px;
    flex-shrink: 0;
}

.btn.apply-to-adopt {
    border: 2px solid var(--color-black);
    background-color: var(--color-white);
}

#stats-block {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-black);
}

.stats {
    gap: 80px;
    flex-direction: column;
}

.text-information {
    display: flex;
    width: 1208px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

#text-information h2 {
    color: var(--color-white);
}

.stats-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.stats-pair {
    text-align: center;
}

.stats-pair dt {
    color: var(--color-yellow);
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 16px;
}

.stats-pair dd {
    color: var(--color-white);
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin: 0;
}

#carousel {
    width: 80%;
    overflow: hidden;
}

.carousel-animals {
    display: flex;
    align-items: center;
    gap: 24px;
}

.carousel-slide {
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.first-animal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: var(--color-yellow);
    overflow: hidden;
}

.second-animal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px 250px 250px 250px;
    background-color: var(--color-green-light);
    overflow: hidden;
}

.third-animal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: var(--color-white);
    overflow: hidden;
}

.fourth-animal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 250px 32px 250px 250px;
    background-color: var(--color-purple-light);
    overflow: hidden;
}


.carousel-controls {
    text-align: center;
    margin-top: 10px;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-gray-dark);
    margin: 0 5px;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    background-color: var(--color-white);
}

#donation-block {
    display: flex;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-black);
}

.donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.donation h2 {
    color: var(--color-white);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
}

.cards h2{
    color: var(--white, #FFF);
    font-size: 32px;
    letter-spacing: -0.64px;
}

.cards p{
    color: var(--color-white);
    font-size: 20px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid var(--color-white);
    padding: 36px;
    flex: 1;
    max-width: 33.33%;
    max-height: 300px;
    gap: 40px;
}

.donation-text{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    gap: 16px;
    align-self: stretch;
    flex-shrink: 1;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row-reverse;
}

#adopt-info-block{
    padding: 80px 0px 120px 0px;
}

.adopt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#adopt-content-block{
    display: flex;
    width: 1208px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#adopt-image img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 480px;
}

.adopt-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
}

.adopt-text h1{
    font-size: 32px;
    font-style: normal;
    letter-spacing: -0.64px;
    color: var(--color-black);
    padding-inline-start: 5px;
    padding: 5px;
}

.adopt-text li{
    padding: 5px;
}

.btn.apply-to-adopt{
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: var(--color-black);
    color: var(--color-white);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
}

#difference-block{
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--color-black);
}

.difference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.text{
    display: flex;
    align-items: baseline;
    gap: 80px;
    color: var(--color-white);
    font-size: 56px;
}

.difference-cards{
    flex-wrap: nowrap;
    align-items: normal;
}

.card-difference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid var(--color-white);
    padding: 48px 24px;
    flex: 1;
    max-width: 33.33%;
    max-height: 224px;
    gap: 48px;
}


.difference-cards-text h2{
    text-align: center;
    align-self: stretch;
    color: var(--color-white);
    font-size: 24px;   
    letter-spacing: -0.48px;    
}

.difference-cards-text p{
    text-align: center;
    align-self: stretch;
    font-size: 20px;
    color: var(--color-white);
}

.card-difference button{
    display: flex;
    height: 64px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    font-family: Poppins;
    font-size: 20px;
    border: none;
}

.adopt-or-foster button{
    background-color: var(--color-green);
}

.volunteer button{
    background-color: var(--color-yellow);
}

.donate-monthly button{
    background-color: var(--color-pink);
}

.start-a-fundraiser button{
    background-color: var(--color-purple);
}

