.stats-adoptables{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.text-information{
    display: flex;
    width: 100%;    
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.text-information button{
    display: flex;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 20px;
    color: white;
    background: var(--gray-dark, #37383F);
}

.text-information h2{
    font-family: poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: white;
}

.adoptables{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.carousel-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.carousel-animals h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.64px;
    color: white;
}

.carousel-animals button{
    display: flex;
    width: 250px;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: 2px solid var(--pink, #FF3D9A);
    background-color: #FF3D9A;
    font-family: poppins;
    font-size: 20px;
    line-height: 28px;
    color: white;
}

.adopt-button img{
    width: auto;
}
