@media (max-width: 810px) {

    #stats-block, #adopt-info-block, #subscribe-block, .footer{
        padding: 80px 16px;
    }

    .navigation-bar {
        padding: 32px 16px;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        height: auto; 
    }

    .all-options{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.79%;
        flex: 1 0 0;
    }

    .left-options{
        flex-direction: column;
        align-self: stretch;
    }

    .nav-items{
        justify-content: center;
        align-content: flex-start;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .right-options{
        justify-content: space-between;
        align-content: center;
        align-self: stretch;
        flex-wrap: wrap;
        gap: 0px
    }

    .main-screen {
        display: flex;
        padding: 32px 16px;
        align-items: center;
        justify-content: center;
        gap: 40px;
        align-self: stretch;
    }
    
    .main-content{
        max-width: 100%;
        flex-direction: column;
        flex: 1 0 0;
    }
    
    #info-block{
        align-items: center;
        gap: 48px;
        align-self: stretch;
    }
    
    .text-block h1 {
        font-size: 43px;
        letter-spacing: -0.96px;
    }
    
    #cta-block{ 
        align-items: center;
        text-align: center;
    }
    
    .btn-container{
        flex-direction: column;
    }

    #animals{
        display: none;
    }
    
    .animals-mobile{
        display: flex;
    }
    
    .dog-image{
        position: relative;
    }
    
    #text-information h2 {
        font-size: 48px;
        letter-spacing: -0.96px;
    }
    
    .text{
        gap: 0;
        align-items: center;
        justify-content: space-between;
    }
    
    .text h2{
        font-size: 48px;
        letter-spacing: -3px;
    }

    .stats-list{
        flex-direction: column;
    }
    
    .carousel-animals{
        overflow-x: scroll;
    }
    
    .carousel-slide{
        flex: 0 0 100%;
    }
    
    .apply-to-adopt-info{
        padding-inline-start: 60px;
    }
    
    #adopt-content-block{
        flex-direction: column-reverse
    }
    
    .adopt-text ul{
        padding-inline-start: 60px;
    }
    
    #adopt-image img{
        height: 100%;
        width: 100%;
    }
    
    .adopt-text h1{
        font-size: 32px;
        letter-spacing: -0.64px;
    }

    .cards{
        display: none;
    }
    
    .responsive{
        display: flex;
    }
    
    .cards-donations{
        justify-content: stretch;
        align-items: center;
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding: 0;
        width: 100%;
    }
    
    .cards{
        max-width: 100%;
    }
    
    .card{
        flex: 0 0 100%;
        max-width: 80%;
    }

    .button-group{
        flex-direction: column;
    }
    
    #cta-text{
        text-align: center;
    }
    
    #adopt-block{
        padding: 80px 0px 0px 0px;
        flex-direction: column-reverse;
        overflow: hidden;
    }
    
    .image-animal-adopt{
        position: relative;
        justify-content: center;
        grid-column-gap: 51%;
        align-items: flex-end;
    }
    
    .difference-cards{
        flex-wrap: wrap;
    }
    
    .card-difference{
        max-width: 70%;
    }

}